BIx::Handler is a module that only manages connections. Other than that, it also wraps the connection management module and provides O / R mapper functionality. From low-abstraction ones that can be used like SQL to high-abstraction ones that use database access as a method.

<h3> Get a domain </h3>

In the case of CGI, I got one URL by default, but in modern web development, I need to get a domain to publish a website.

Let's acquire a domain with the domain acquisition service.

<ul>
  <li> Name.com </li>
  <li> Muumuu domain </li>
</ul>

The domain setting must be described in the configuration file of the Web server such as Apache or Nginx after describing the correspondence between the domain and the IP address in the domain service. For Apache, search on the virtual host.

<h3> I want to use SSL </h3>

You can issue an SSL certificate for free using a service called Let's Encrypt.

<ul>
  <li> Let's Encrypt </li>
</ul>

<h3> Text editor </h3>

Text editor is your choice. You can use it as it is, if you have an attachment.

<h3> Summary </h3>

Perl's web development techniques are very versatile once you remember them. Web technology is not difficult one by one, but I think it is a field that has many components and requires continuous learning.

If you want to know the modern web development method next to CGI, please refer to it.

If you are a development manager who is currently running CGI and wants to move to a modern Perl web development method, please take a look.

PHP was developed to solve CGI problems, but Perl itself has made its own developments to solve CGI problems.