<h2> Perl's increment / decrement behavior is the same as in C </h2>

The behavior of increment / decrement in C is the same as in C. Perl's grammar is based heavily on C, and ink / decrement can be used with the same grammar as C.

<h3> Comparison of Perl increment and C language increment </h3>

<h4> Perl increments </h4>

Perl increment. Perl increments increment the number stored in the variable by 1. If the increment is prefixed, the evaluated value is returned. If the increment is postfixed, the value before evaluation is returned.

This behavior is exactly the same as in C.

<pre>
# Perl increment
$num ++;
++ $num;
</pre>

<h4> C language increment </h4>

C language increment. C language increment. C language increments increment the number stored in the variable by 1. If the increment is prefixed, the evaluated value is returned. If the increment is postfixed, the value before evaluation is returned.

<pre>
#C language increment
num ++;
++ num;
</pre>

<h3> Comparison of Perl Decrement and C Decrement </h3>

<h4> Perl Decrement </h4>

Perl decrement. Perl decrement decrements the number stored in the variable by one. If decrement is prefixed, the evaluated value is returned. If the decrement is postfixed, the pre-evaluation value is returned.

This behavior is exactly the same as in C.

<pre>
# Perl decrement
$num--;
--$num;
</pre>

<h4> C language decrement </h4>

C language decrement. C language decrement. C language decrement decrements the number stored in the variable by one. If decrement is prefixed, the evaluated value is returned. If the decrement is postfixed, the pre-evaluation value is returned.

<pre>
#C language decrement
num--;
--num;
</pre>

<h3> You can use the increment / decrement grammar you learned in C as it is in Perl </h3>

You can use the increment / decrement grammar you learned in C as it is in Perl.

This means that Perl has adopted the C grammar that users are accustomed to.

Perl is a programming language that has a high affinity with the C language.

<h3> I think the criticism of C language regarding increment / decrement is trivial </h3>

Some people speak very critically about the C language's increment / decrement specification.

<ul>
  <li> Because the meaning changes between the prefix and the suffix, it is difficult to understand and it is easy to create bugs </li>
  <li> Postfix increments are complicated to parse </li>
  <li> The value is no longer immutable </li>
</ul>

But don't you think this is a trivial matter? Don't you feel the discussion like poking the corner of a heavy box?

Somehow, it's like putting yourself on the shelf and over-criticizing a person's little bad things.

If you get caught up in this kind of discussion, you might want to leave the place quickly.

<b> Rather, why not re-evaluate Perl, which uses the widely used C grammar as it is. </b>

<h3> Other similarities between Perl and C </h3>

In this article, I wrote that Perl's increment / decrement is similar to C, but Perl's for statements, if statements, while statements, operator types and priorities, scopes, and reference concepts are also C. Similar to language.

<ul>
  <li> <a href="/blog/20190926072429.html"> Perl if statements are similar to C if statements</a> </li>
  <li> <a href="/blog/20190925080555.html"> Perl for statement has the same grammar as C language for statement</a> </li>
  <li> <a href="/blog/20191001073128.html"> Perl while statement has the same grammar as C language while statement</a> </li>
  <li> <a href="/blog/20191001075312.html"> Perl operators and C operators are similar in type and have the same priority</a> </li>
  <li> <a href="/blog/20191002073518.html"> Perl can use a single scope in the same way as C</a> </li>
  <li> <a href="/blog/20191002075550.html"> Perl reference functionality is the same as C pointer functionality</a> </li>
</ul>