<h2> What Perl inherits from C-Understanding through a comparison between Perl and C </h2>

Through a comparison of Perl and C language, I will explain what Perl inherited from C language. Many of the features of Perl's grammar are inherited from the C language.

Control syntax such as conditional branching by if statement in Perl, repetition by for statement, and while statement is very similar to the syntax of C language. Increment / decrement, operator type, operator precedence, scope, reference concept, etc. are also very similar to C language.

<ul>
  <li> <a href="/blog/20190926072429.html"> Perl if statements are similar to C if statements</a> </li>
  <li> <a href="/blog/20190925080555.html"> Perl for statement has the same grammar as C language for statement</a> </li>
  <li> <a href="/blog/20191001073128.html"> Perl while statement has the same grammar as C language while statement</a> </li>
  <li> <a href="/blog/20190920082045.html"> Perl increments / decrements work the same as in C</a> </li>
  <li> <a href="/blog/20191001075312.html"> Perl operators and C operators are similar in type and have the same priority</a> </li>
  <li> <a href="/blog/20191002073518.html"> Perl can use a single scope in the same way as C</a> </li>
  <li> <a href="/blog/20191002075550.html"> Perl reference functionality is similar to C pointer functionality</a> </li>
</ul>