<h2> Perl can be read if you understand English in the first grade of junior high school-adoption of natural language </ h2>

In Perl, Perl such as my and use is written in words that can be read if you understand English in the first grade of junior high school.

Perl author Larry Wall is actually a linguist, not a software researcher or engineer.

Perl is a programming language created by linguists, incorporating natural language into programming languages.

<h3> Incorporating natural language so that non-plugramers can also be used </ h3>

Perl takes care to lower the programming threshold for non-programmers by incorporating natural language.

When you start learning programming in elementary or junior high school, the language written is English.

Even though I'm not good at English, there are many unknown words that I learn at university. In that case, I feel that I am not good at programming.

The programming language Perl has keywords selected so that it can be read by the English proficiency of the first grade of junior high school.

<pre>
# Use the desk
use Desk;

#My fruit
my $ fruit ='Apple';

# Our home
our $ HOME ='/ home / kimoto';

# Print "Hello"
print "Hello World";
</ pre>

You can feel familiar with the programming language that was far away.

<h3> The calculation you wrote on the paper works as it is </ h3>

Perl is a programming language that uses dynamic types, and the calculations you write on paper will work as they are.

<pre>
my $ total = 1 + 3;
</ pre>

Of course this works just fine in other languages.

But Perl goes one step further, and what you write on paper, that is, what you write on text, works as it is.

Let's pass 1 and 3 to the program. Write as follows.

<pre>
perl total.pl 1 3
</ pre>

You can read it by summing 1 and 3 using Perl.

You can receive text numbers and calculate them as-is without type conversion.

<pre>
my ($ num1, $ num2) = @ARGV;

my $ total = $ num1 + $ num2;
</ pre>

<h3> Perl is designed to be easy to use for people who use natural language in the everyday world. </ H3>

Perl is the first language to incorporate into programming languages ​​the words we are familiar with and everyday expressions such as writing calculations on paper with a pen.

This is due to the fact that Perl author Larry Wall was a linguist.

If you're a software researcher, you've probably designed a programming language in the words of a software researcher.

Perl is "designed to be easy to use for people who use natural languages ​​in the everyday world," which is one of the reasons why we recommend Perl to those who are new to programming.