<h2> Why pay attention to Perl's birth and ancestors? </ H2>

Why do you pay so much attention to Perl's birth and ancestors? You may be wondering.

<h3> Perl benefits from other open source projects </ h3>

The main reason is that we want you to know that Perl benefits from other open source projects.

Perl relies on other open source projects for many of its features, ideas and grammars.

Without shell scripts, C, Lisp, the natural languages ​​we use every day, and Linux commands such as awk, sed, and grep, Perl wouldn't have existed either.

For Perl, I want to pay homage to its ancestral language.

Perl is certainly a practical, fun, and motivating programming language.

However, its value is actually made with reference to the language of its ancestors, so I would like you to know that.

C, shell scripts, and Linux commands are more practical than Perl, depending on the field and aptitude.

Also, Lisp has less chance to be used practically, but given that the language itself is a syntax tree, it has a basic idea of ​​how software is executed. It will be very useful for wearing.

Some say "I'm the best", but I would like to pay tribute to the projects that gave Perl ideas.