<h2> What Perl inherits from shell scripts-understanding through comparisons between Perl and shell scripts </h2>

Through a comparison of Perl and shell scripts, I'll explain what Perl inherited from shell scripts. Many of Perl's grammar features are inherited from shell scripts.

Perl has the same variable expansion functionality as shell scripts. The string comparison operators eq, ne, gt, ge, lt, le borrow the keywords in the shell script. Comments are the same as shell scripts. Similar to shell scripts, you can write statements at the top level and execute them immediately without compiling.

<ul>
  <li> <a href="/blog/20191004074909.html"> Perl's variable expansion is the same as shell script's variable expansion</a> </li>
  <li> <a href="/blog/20191007074832.html"> Perl's string comparison operators, eq, ne, gt, ge, lt, l, are derived from shell script numerical comparison operators</a> </li>
  <li> <a href="/blog/20191008081826.html"> Perl comments are the same as shell script comments</a> </li>
  <li> <a href="/blog/20191009085143.html"> Perl can write sentences at the top level like a shell script</a> </li>
  <li> <a href="/blog/20191011084737.html"> Perl can be executed immediately without compilation work, just like a shell script</a> </li>
</ul>