<h2> What Perl inherits from Unix / Linux commands-Understanding through a comparison of Perl and Unix / Linux commands </ h2>

Through a comparison of Perl and Unix / Linux commands, I'll explain what Perl inherited from Unix / Linux commands. Many of Perl's grammar features are inherited from Unix / Linux commands.

<h4> sed </ h4>

The grammatical expressions for Perl regular expressions are made with reference to the functionality of sed.

<ul>
   <li> <a href="/blog/20190924071341.html"> Perl regular expressions incorporate sed expressions </a> </ li>
</ ul>

<h4> awk </ h4>

<ul>
   <li> <a href="/blog/20191017080556.html"> Perl's one-liner is based on the features of awk's one-liner </a> </ li>
</ ul>

<h4> grep </ h4>

Perl's grep function is based on the grep command.

<ul>
   <li> <a href="/blog/20191003071444.html"> Perl's grep is inspired by the Unix / Linux command grep </a> </ li>
</ ul>