<h2> Perl regular expressions incorporate sed expressions </ h2>

Don't you think Perl replacement regular expressions are similar to something? Yes, they are very similar to the Linux / Unix <b> sed </ b> command.

<pre>
# Perl replacement regular expression
s / foo / bar /

Replacement with #sed
sed's / foo / bar /'
</ pre>

The options for replacing everything with sed are the same as for Perl.

<pre>
#Regular expression to replace everything with Perl
s / foo / bar / g

Replace everything with #sed
sed's / foo / bar / g'
</ pre>

<h3> Perl refers to the expression of sed </ h3>

One of the advantages of the programming language Perl is that what you learned in <a href="https://en.linux.perlzemi.com/"> Linux </a> / Unix is ​​that the expression is Perl as it is. It means that it can be used.

<b> For Perl replacement regular expressions, if you know how to use the sed command that you are familiar with on Linux / Unix, you can use it in Perl programming as it is. </ b>

For users who have learned shell scripts, sed, awk, and C in a Linux / Unix environment, the cost of learning Perl is very low.

You'll learn about C and Unix / Linux servers in a freshman software class. Learn C grammar and learn a little Linux commands such as grep, sed, and awk.

<b> If you have knowledge of C language and Unix / Linux server, Perl allows you to use the usage and concepts as they are, so the learning cost is low. </ b>

Did you misunderstand that Perl has a high learning cost?

For software engineers, learning the knowledge of C language and Unix / Linux server is a must.

With that knowledge, it takes less than a month to learn how to use Perl. This is because the concepts learned in other fields can be used as they are in Perl.

The fact that sed can be used almost as it is is based on Perl's philosophy that "expressions that users are familiar with are easy to use."

Those who criticize Perl as "patchy" say Perl negatively.

And Perl users themselves are too obvious to understand the secrets of Perl's ease of use.

But in reality, from the factual side of Perl, it can be said that Perl is designed with great consideration for its compatibility with Unix / Linux.