<h2> There is more than one way--TMTOWTDI </h2>

Perl's slogan is "There is more than one way".

in English

<blockquote>
There's More Than One Way To Do It.
</blockquote>

It may be abbreviated as "TMTOWTDI".

<h2> Perl is a language that is tolerant of diversity </h2>

Perl's "more than one way" slogan is an antithesis of the "one good way" idea.

When you have multiple people and you have a team of multiple people and you are looking for a good way, there are multiple good ways.

There are multiple good ways, not just one good way.

<b> Let's admit both to multiple good practices. Recognize the variety of good practices. </b>

That's the way of thinking.

Perl is a language that is tolerant of diversity in itself.

<h2> Is diversity a value to be respected? </H2>

Is diversity a value to be respected?

In a project, it would be better to set uniformity, manage people, and thoroughly improve production efficiency for the purpose of the goal.

There is such a way of thinking on the one hand.

But on the other hand, this idea is also the one that has created inequality, discrimination and class.

One worst example is the slave trade, where one race owns one race like a thing.

One race monopolizes wealth and power and treats the other race as slaves.

The sold slaves are packed in ships and moved from their own country to another country as industry leaders.

Was humanity stupid from the beginning?

No, it's not. Rather than having people plan to create discrimination from the beginning, many people start with the wrong decisions, and beyond a certain stage, they can't go back.

Even if there are many people who look back on history and can say that it was a mistake, ethics will not work while being swallowed by that era.

Also, linguistic and biodiversity are rapidly being lost by the goodwill of mankind.

<b> One defense is the idea of ​​finding value for diversity, itself. </b>

Perl's "more than one way" slogan is a great slogan in that it finds value in diversity itself.

<h2> Perl's slogan "There is more than one way" has been misunderstood. </H2>

Perl's slogan, "There's more than one way," is one of the most misunderstood Perl ideas.

A good idea to respect Perl's diversity is

"Writing in Perl results in different code for different people"

"Not suitable for large-scale development"

"Become a light-only language"

"I can't read the code I wrote three days ago."

Has been criticized.

The prejudice against Perl is strong, but the facts are different.

<h3> You can read the code written a year ago </h3>

In fact, you can read the Perl code I wrote a year ago.

Even if you don't understand the source code of Perl at first, if you learn about Perl for about a month, you will understand how to edit the source code to some extent.

Well-structured source code in a modern way is easy to read over the years.

The readability of source code depends more on the writer than on the programming language.

And this isn't limited to Perl.

It's true that Perl relies on the writer's writing style for the slogan of respecting diversity, but it can have terrible consequences, such as being completely uncorrectable. ,There is none.

<b> If you improve your ability, good refactoring will make the source code maintainable and readable. </b>

<h3> Large-scale development is possible </h3>

The misunderstanding about Perl is that the source code becomes unreadable after 1000 lines.

However, in a real Perl project, there are usually more than 100 modules.

Some projects have more than 100,000 lines of source code.

<b> Perl actually allows for large-scale development, so projects of this size exist. </b>

Perl has the ability to define namespaces called packages, and as your project grows, you can even split the functionality into separate modules.

Perl also has the language features that modern programming has to withstand the large-scale system development.

I want to develop Web development that handles a large amount of text processing at low cost. Perl is perfect for these cases as well.