<h2> What Perl inherits from natural language-understanding through a comparison between Perl and natural language </h2>

Through a comparison of Perl and natural language, I'll explain what Perl inherited from natural language. Many Perl keywords are inherited from natural language.

Perl author Larry Wall is a linguist, and Perl is the first language to try to incorporate everyday expressions like natural language into programming languages.

<ul>
   <li> <a href="/blog/20191015081559.html"> Perl can be read if you understand English in the first grade of junior high school-adoption of natural language</a> </li>
</ul>