<h2> Perl startup speed is perfect </h2>

Among the programming languages, Perl has the fastest startup speed. Even if the amount of source code increases, after fixing it, the startup when executing the program is instantaneous.

<h3> Why Perl starts up so fast </h3>

The reason Perl starts up so fast is that after the abstract syntax tree is generated, the abstract syntax tree remains as it is, with some optimization and execution.

In other languages, for example, after creating an abstract syntax tree, it is further converted to bytecode. This process isn't really slow enough to be annoying, but it's a lot more parsed than Perl.

Also, like static languages, further analysis is needed to thoroughly optimize execution speed.

Perl makes it easy to modify the source code and start the program repeatedly even if the amount of code increases.

<h3> Doesn't it affect the execution speed? </H3>

Yes, it will affect the execution speed. In particular, the throughput will be lower than when converted to bytecode. Perl is not suitable for processing that requires maximum throughput. However, it doesn't really matter in practice because there are scaling methods such as server decentralization and multi-process.

On the other hand, text processing and web application performance are good. This is because Perl has been optimized for situations where a large number of strings are repeatedly processed.