<h2> Perl string literals work like single and double quotes in Unix / Linux shells </ h2>

One reason Perl is shell-friendly is that Perl string literals are similar to <a href="https://en.linux.perlzemi.com/"> Unix / Linux shell </a> single and double quotes. It works like this.

<h3> Single quote string </ h3>

Perl single quoted strings do not interpolate variables. This behavior is the same as the Unix / Linux shell.

<pre>
#Do not expand variables (hello $ name)
my $ message ='hello $ name';
</ pre>

<h3> Double quote string </ h3>

Perl double quoted strings do variable expansion. This behavior is the same as the Unix / Linux shell.

<pre>
#Explode variables (hello kimoto)
my $ name ='kimoto';
my $ hessage = "hello $ name";
</ pre>

It works like shell single and double quotes, so it's easy to remember.

<h3> What is the difference between Perl and shell string literals? </ H3>

There are differences between Perl and bash. That is, the backslash "\" is interpreted as an escape sequence. In Perl, you can use "\ n" in double quotes to represent a line break in any Unix / Linux environment. It seems that Perl developers chose the similarity with C language for escape sequences.