<h2> Perl's Philosophy-I want to get rid of my misunderstandings about Perl </h2>

Perl Philosophy is a course for learning Perl-like thinking. Perl is a programming language that is often misunderstood and spoken. Why is it misunderstood and spoken? What kind of programming language is Perl? Answers pure questions about Perl.

<ul>
  <li> <a href="https://www.youtube.com/watch?v=KfvdD9ns-m0"> Video introduction</a> </li>
</ul>

<h3> Perl's strengths </h3>

<ul>
  <li> <a href="/blog/20200211075143.html"> Perl has regular expressions built into the language</a> </li>
  <li> <a href="/blog/20200210114201.html"> Perl startup speed is perfect</a> </li>
  <li> <a href="/blog/20200402100626.html"> Unix / Linux server management and Web system development are integrated with Perl to improve business efficiency</a> </li>
</ul>

<h3> What language does Perl refer to? </H3>

Perl was designed to combine features from C, shell scripts, Unxi / Linux commands such as sed, awk, and grep, Lisp, and natural languages.

<h4> C language </h4>

Through a comparison of Perl and C language, I will explain what Perl inherited from C language. Many of Perl's grammar and feature features are inherited from the C language.

・ <a href="/blog/20190811130832.html"> Perl inherited from C</a>

<h4> Shell script </h4>

Through a comparison of Perl and shell scripts, I'll explain what Perl inherited from shell scripts. Many of Perl's grammar and feature features are inherited from shell scripts.

<ul>
  <li> <a href="/blog/20190711130832.html"> Perl inherits from shell scripts</a> </li>
  <li> <a href="/blog/20201026082415.html"> Perl string literals work like single and double quotes in Unix / Linux shells</a> </li>
</ul>

<h4> Lisp </h4>

Through a comparison of Perl and Lisp, I'll explain what Perl inherited from Lisp. The characteristics of Perl's grammar are structurally inherited from Lisp.

・ <a href="/blog/20190611130832.html"> Perl inherited from Lisp</a>

<h4> Unix / Linux commands </h4>

Through a comparison of Perl and Unix / Linux commands, I'll explain what Perl inherited from Unix / Linux commands. Many of Perl's grammar and feature features are inherited from Unix / Linux commands such as sed, awk, and grep.

-<a href="/blog/20190511130832.html"> Perl inherits from Unix / Linux commands</a>

<h4> Natural language </h4>

Through a comparison of Perl and natural language, I'll explain what Perl inherited from natural language. Many Perl keywords are inherited from natural language.

<ul>
  <li> <a href="/blog/20190411130832.html"> Perl inherits from natural language</a> </li>
</ul>

<h4> Summary </h4>

I've introduced you to Perl's references to C, shell scripts, Lisp, Unix / Linux commands, natural language, and more, but why pay attention to this?

<ul>
  <li> <a href="/blog/20191018081530.html"> Why pay attention to Perl's birth and ancestors?</a> </li>
</ul>

<h3> Origin of Perl </h3>

<ul>
  <li> <a href="/blog/20200302065144.html"> Perl's P</a> </li>, which means practical.
</ul>

<h3> What kind of programming language is Perl? </H3>

What are the characteristics of Perl as a programming language?

<ul>
  <li> <a href="/blog/20190919070918.html"> Perl makes a clear distinction between values ​​and references</a> </li>
  <li> <a href="/blog/20200921053809.html"> Why is Perl's idea of ​​diversity and discipline kind to people?</a> </li>
</ul>


<h3> Answer misunderstandings about Perl </h3>

Perl is a very misunderstood language.

For frank and sincere students, researchers, engineers, web authors, development managers, business owners, and Perl users who continue to be misunderstood, we'll write Perl's misleading content.

<ul>
  <li> <a href="/blog/20200120094159.html"> How does Perl work?</a> </li>
  <li> <a href="/blog/20190911130832.html"> There is more than one way--TMTOWTDI</a> </li>
  <li> <a href="/blog/20190918081634.html"> You can make the most of multiCPU even with Perl</a> </li>
  <li> <a href="/blog/20191021080540.html"> Re-evaluate Perl's Plain Old-the value of being simple and classic</a> </li>
  <li> <a href="/blog/20191023071239.html"> For those who used to make bulletin boards with CGI. Summary of Perl Web Development Methods to Replace CGI</a> </li>
  <li> <a href="/blog/20200122080040.html"> Is it true that you shouldn't use Perl on Windows?</a> </li>
  <li> <a href="/blog/20200922082225.html"> Tell me what Perl is having trouble with fraudulent activity such as web hype and stemming</a> </li>
</ul>

<h3> Advantages of dynamically typed languages ​​</h3>

Knowing the benefits of dynamically typed languages ​​such as Perl will allow you to make good comparisons with statically typed languages.

<ul>
  <li> <a href="/blog/20200121094159.html"> Advantages of dynamically typed languages ​​that you can add arguments for functions (subroutines)</a> </li>
</ul>

<h3> Relationship with other programming languages ​​</h3>

<ul>
  <li> <a href="/blog/20200812071438.html"> Talking about the relationship between C language / C ++ and Perl</a> </li>
</ul>

<h3> Perl's Philosophy-related Lecture </h3>

If you've got rid of your misunderstandings about Perl, have an interest in Perl, and want to challenge Perl, here are some courses:

<h4> Introduction to Perl Programming </h4>

This is a course where you can learn the basics of Perl programming from installation with samples.

<ul>
  <li> <a href="https://en.perlzemi.com/"> Perl Seminar-Introduction to Perl Programming</a> </li>
</ul>

<h4> Introduction to Web application development </h4>

Perl is one of our strengths in web application development. Click here if you want to start developing web applications.

<ul>
  <li> <a href="https://en.webapp.perlzemi.com/"> Introduction to Perl Web App Development</a> </li>
</ul>

<h4> Introduction to Linux Server Management </h4>

Perl is a Unix-born programming language that works very well with UNIX / Linux. Click here to learn about the vi text editor, basic Linux commands, and how Linux works.

<ul>
  <li> <a href="https://en.linux.perlzemi.com/"> Introduction to Linux Server Management</a> </li>
</ul>

<h4> Meet Perl friends </h4>

There is a members-only Perl Club Forum where you can meet your Perl buddies. You can also use Twitter's reply / direct message and Youtube's comment section.

<ul>
  <li> <a href="https://perlclub.net/forum"> Perl Club Forum</a>
  <li> <a href="https://twitter.com/perlzemi"> Twitter</a>
  <li> <a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ"> Youtube</a>
</ul>